@import "variables";
@import "animations";

*{
  margin: 0;
  padding: 0;
}
.mainContainer{
  @extend %mainFont;
  width: 100vw;
  height: 100vh;
  .header{
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $primary-color-text;
    font-size: 40px;
    height: 11vh;

  }
  .row{
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    font-size: 20px;
    .rightColumn{
      width: 30vw;
      background-color: $primary-color-light;
      .listSection{
        height: 100%;
        .listContainer{
          padding: 10px;
          height: 65vh;
          overflow-y: auto;
        }
        .buttonsDiv{
          position: relative;
          height: 100px;
          background-color: $primary-color-light;
          .buttons{
            padding: 10px;
            .btn{
              @extend %buttons;
              margin: 0 5px;
              padding: 5px;
              &:hover{
                color: $accent-color;
              }
              &:active{
                @extend %activeButtons;
              }
            }
          }
        }
      }
    }
    .leftColumn{
      width: 70vw;
      height: 87vh;
      position: relative;
      .image{
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 100%;
        background-color: rgba(93, 64, 55, 0.6);
        button{
          position: absolute;
          top: 0;
          right: 0;
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
          padding: 0 5px;
          color: #FF5722;
          text-shadow: 0 1px 0 #fff;
          filter: alpha(opacity=20);
          opacity: .8;
        }
        img{
          margin: 0 auto;
          display: block;
          max-width: 100%;
          height: 100%;
        }
      }
    }
  }
  .footer{
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: $primary-color-text;
    a{
      color: $primary-color-text;
    }
  }
}
