$cloud_size: 40px;

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #E0D9D6;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$textShadow: 2px 2px 2px rgba(0,0,0, 0.8);

$backgroundColorOfList: rgba(121,85,72, 0.6);

