%mainFont{
  font-family: 'Chelsea Market', cursive;
}

$cloud_size: 40px;

$primary-color-dark:   #5D4037;
$primary-color:        #795548;
$primary-color-light:  #D7CCC8;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

%buttons {
  position: relative;
  width: $cloud_size;
  height: $cloud_size;
  border-radius: 50%;
  background-color: white;
  color: $primary-color;
  transition: all 0.5s;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
  &::before,
  &::after {
    content: "";
    display: block;
    width: $cloud_size - 10px;
    height: $cloud_size - 10px;
    position: absolute;
    top: $cloud_size / 8;
    background-color: inherit;
    border-radius: inherit;
  }
  &::before {
    left: -100%;
    margin-left: calc((#{$cloud_size} / 2));
  }
  &::after {
    right: -100%;
    margin-right: calc((#{$cloud_size} / 2));

  }
  &:active {
    background-color: #ECE9E6;
  }
  span{
    position: absolute;
    z-index: 3;
    width: 200%;
    left: -50%;
    text-align: center;
    top: 45%;
    margin-top: -0.5em;
    font-size: $cloud_size / 2.3;
  }
}
%activeButtons{
  transform: translate(0px,2px);
  -webkit-transform: translate(0px,2px);
  border-bottom: 1px solid $primary-color;
}

